.chat-page {
  padding-bottom: 10em;
}

.chatBox {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 30px 5px black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  /* margin-bottom: 50px; */
  margin-top: 1.5em;
  position: relative;
}

.chatHeader {
  background: #304d6d;
  padding: 1rem;
  color: white;
  border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  -moz-border-radius: 7.5px;
  -ms-border-radius: 7.5px;
  -o-border-radius: 7.5px;
}

.chatTitle {
  float: left;
  font-size: 25px;
}

.close {
  margin: auto;
  height: 50px;
  width: 50px;
  padding: 0px 0px 50px 0px;
  float: right;
  border: 2px white solid;
  font-size: 35px;
}

.startChat {
  height: 100px;
  width: 170px;
}

.chatHeader img {
  margin-right: 10px;
  border-radius: 50%;
  width: 15%;
}

.chatMessages {
  height: 300px;
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  padding: 10px;
  overflow-y: auto;
}

#messageInput {
  width: 500px;
  margin: auto;
  border-radius: 7.5px;
  padding: 12px 16px;
}

/*Responsive Section*/

/*iPad Pro screen*/

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .chatBox {
    height: 100vh;
    width: 100vw;
  }
  .m {
    width: 90%;
  }
}

/* ----------- iPad Pro ----------- */

/* Portrait and Landscape */

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  .chatBox {
    height: 100vh;
    width: 100vw;
  }
}

/* Portrait */

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  .chatBox {
    height: 100vh;
    width: 100vw;
  }
}

/* Landscape */

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
  .chatBox {
    height: 100vh;
    width: 100vw;
  }
}

@media only screen and (max-width: 1024px) {
  .chatBox {
    height: 100vh;
    width: 100vw;
  }
}

@media only screen and (max-width: 768px) {
  .chatBox {
    height: 100vh;
    width: 100vw;
  }
}

@media only screen and (min-width: 280px) and (max-width: 330px) {
  .chatBox {
    height: 100vh;
    width: 100vw;
  }
}

.scroll {
  float: left;
  clear: both;
  padding-top: 4rem;
}

.chat {
  list-style: none;
  overflow: scroll;
  scroll-behavior: smooth;
}

.chatWindow {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 190;
  background: rgb(233, 229, 229);
  border-radius: 5px;
}

.chatInputWrapper {
  position: absolute;
  bottom: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat li {
  padding: 0.5rem;
  display: flex;
}

.sender {
  justify-content: flex-end;
  align-items: flex-end;
}

.sender .msg {
  max-width: 40%;
  background-color: green;
}

.receiver .msg {
  background-color: rgb(90, 90, 200);
  max-width: 40%;
}

.msg {
  color: white;
  min-width: fit-content;
  max-width: 40%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 10px 5px black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.msgText {
  font-size: large;
}

::-webkit-scrollbar {
  display: none;
}

/* chat App */
.chat-page-cc {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
}

.chat-app-cc {
  width: 80%;
  height: 80%;
  align-self: flex-start;
  padding: 2em 0;
  /* box-shadow: 3px 3px 20px #474c55; */
  box-shadow: 3px 3px 0.755rem rgb(71 76 85 / 25%);
  border-radius: 40px;
  border: 2px solid #ececec;
  box-sizing: border-box;
  background-color: #f8f9fa;
  background-image: url("../../resources/geometry.png");
}

.chat-header-cc {
  padding-bottom: 1em;
  display: flex;
  justify-content: space-between;
  padding-left: 2em;
  padding-right: 0.5em;
}

.profile-pic {
  border-radius: 30px;
}

.messages-cc {
  height: 75%;
  border-radius: 40px;
  border: 2px solid #ececec;
  box-sizing: border-box;
  background: #fff;
  overflow: hidden scroll;
}

.message-cc {
  display: flex;
  padding: 0.4em 3em;
}

.sender-cc {
  flex-direction: row;
}
.receiver-cc {
  flex-direction: row-reverse;
}
.message-text {
  margin-bottom: 0;
  padding: 0 1em;
}

.message-text-receiver {
  border-radius: 8px 0px 8px 8px;
  background: #ffd998;
  margin-right: 0.5em;
}
.message-text-sender {
  border-radius: 0px 8px 8px 8px;
  background: #ffd998;
  margin-left: 0.5em;
}

.chat-input-div {
  display: flex;
  justify-content: center;
  padding-top: 1em;
}

.chat-input {
  width: 70%;
}

.svg-circle-right {
  height: 3em;
  margin: 0 1em;
  background-color: #f26e2b;
  color: #fff;
  border-radius: 3em;
}

.svg-circle-right:hover,
.svg-circle-right:focus,
.svg-circle-right:active,
.svg-circle-right:target {
  /* box-shadow: 3px 3px 1px #f28d04; */
  color: #f26e2b;
  border-color: #f26e2b;
  background-color: #fff;
  box-shadow: 0 0 0 0.25rem rgb(242 110 43 / 25%);
}

.transcripts-cc {
  padding: 12px 16px;
}

/* Designing for scroll-bar */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: gainsboro;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
