/* Chat Page */
.chat-page-cc {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
}

.chat-app-cc {
  width: 80%;
  height: 80%;
  align-self: flex-start;
  padding: 2em 0;
  box-shadow: 3px 3px 0.755rem rgb(71 76 85 / 25%);
  border-radius: 40px;
  border: 2px solid #ececec;
  box-sizing: border-box;
  background-color: #f8f9fa;
  background-image: url("../../resources/geometry.png");
}

.chat-header-cc {
  padding-bottom: 1em;
  display: flex;
  justify-content: space-between;
  padding-left: 2em;
  padding-right: 0.5em;
}

.profile-pic {
  border-radius: 30px;
}

/* Chat box */
.messages-cc {
  height: 75%;
  border-radius: 40px;
  border: 2px solid #ececec;
  box-sizing: border-box;
  background: #fff;
  overflow: hidden scroll;
}

.message-cc {
  display: flex;
  padding: 0.4em 3em;
}

.sender-cc {
  flex-direction: row-reverse;
}
.receiver-cc {
  flex-direction: row;
}

.message-text {
  margin-bottom: 0;
  padding: 0 1em;
  display: flex;
  align-items: center;
}

.message-text-sender {
  border-radius: 8px 0px 8px 8px;
  background: #ffd998;
  margin-right: 0.5em;
}
.message-text-receiver {
  border-radius: 0px 8px 8px 8px;
  background: #ffd998;
  margin-left: 0.5em;
}

.chat-input-div {
  display: flex;
  justify-content: center;
  padding-top: 1em;
}

.chat-input {
  width: 70%;
}

/* SVG */
.svg-circle-right {
  height: 3em;
  margin: 0 1em;
  background-color: #f26e2b;
  color: #fff;
  border-radius: 3em;
}

.svg-circle-right:hover,
.svg-circle-right:focus,
.svg-circle-right:active,
.svg-circle-right:target {
  color: #f26e2b;
  border-color: #f26e2b;
  background-color: #fff;
  box-shadow: 0 0 0 0.25rem rgb(242 110 43 / 25%);
}

.transcripts-cc {
  padding: 12px 16px;
}

/* Designing for scroll-bar */
::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: gainsboro;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
